@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {  /*config para tablets*/
    body {
        background-image: url('../assets/marvelbg.jpg');
        background-position: center top ;
        background-repeat: no-repeat;
        background-size: 190%;
        background-color: black;
      }

      .container {
        margin: 20px;
      }
}


@media screen and (min-width:992px) { /* Config para desktop */  

    body{
        background-image: url('../assets/marvelbg.jpg');
        background-position-y: 0px;
        background-position-x: 0px;
        background-repeat: no-repeat;
        background-size: cover;

        background-color: rgb(0, 0, 0)
    }

    .container {
        margin: auto;
      }

}